[gpg]
	format = ssh
[user]
	signingkey = /home/alihm/.ssh/id_ed25519
	email = alihmohammad@hotmail.com
	name = Ali Mohammad
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[core]
	excludesfile = ~/.gitignore
	editor = nano
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
	a = add -A
    s = status -s
	co = checkout
    cob = checkout -b
	cm = commit -m
	rbi = rebase --interactive
	f = fetch
	pu = push
	puf = push --force-with-lease
	ls = log --oneline
